@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --primary: #1f72b6;
  --primary-hover: #195e99;
  --primary-soft: #e9f2fb;

  --text-heading: oklch(0.32 0.03 250);
  --text-body: oklch(0.42 0.025 250);
  --text-muted: oklch(0.55 0.02 250);

  --text-disabled: oklch(0.68 0.015 250);
  --brand-primary: oklch(0.56 0.16 245);
  --brand-hover: oklch(0.52 0.17 245);
  --brand-active: oklch(0.48 0.18 245);

  --brand-soft: oklch(0.92 0.06 245);
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --text-primary: var(--text-primary);
}

@layer base {
  body {
    @apply font-poppins;
  }

  p {
    @apply font-inter font-normal;
  }

  h1 {
    @apply font-poppins font-bold;
  }

  h2 {
    @apply font-poppins font-semibold;
  }

  h3,
  h4 {
    @apply font-poppins font-medium;
  }

  h5,
  h6 {
    @apply font-inter font-medium;
  }
}
